<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huilian.hyf.order.dao.AmountChangeRecordMapper">
  <resultMap id="BaseResultMap" type="com.huilian.hyf.order.model.AmountChangeRecordEntity">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TransactionID" jdbcType="VARCHAR" property="transactionID" />
    <result column="Type" jdbcType="VARCHAR" property="type" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="ChangeAmount" jdbcType="DECIMAL" property="changeAmount" />
    <result column="Amount" jdbcType="DECIMAL" property="amount" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UserID" jdbcType="VARCHAR" property="userID" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="BankCard" jdbcType="VARCHAR" property="bankCard" />
    <result column="BankCode" jdbcType="VARCHAR" property="bankCode" />
    <result column="ProductId" jdbcType="VARCHAR" property="productId" />
    <result column="PurchaseRecordId" jdbcType="VARCHAR" property="purchaseRecordId" />
    <result column="data_source" jdbcType="SMALLINT" property="dataSource" />
    <result column="data_status" jdbcType="BIT" property="dataStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Example_OrderBy_Clause">
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </sql>
  <sql id="Example_Pagin_Clause">
    <if test="example.paginLimit != null">
      <if test="model.paginOffset != null">
        limit ${model.paginOffset}, ${model.paginLimit}
      </if>
      <if test="model.paginOffset == null">
        limit ${model.paginLimit}
      </if>
    </if>
  </sql>
  <sql id="Base_Column_List">
    ID, TransactionID, Type, Status, ChangeAmount, Amount, CreateTime, UserID, Remark, 
    BankCard, BankCode, ProductId, PurchaseRecordId, data_source, data_status
  </sql>
  <sql id="Base_Insert_Column_List">
    insert into amountchangerecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.transactionID != null and record.transactionID != ''">
        TransactionID,
      </if>
      <if test="record.type != null and record.type != ''">
        Type,
      </if>
      <if test="record.status != null and record.status != ''">
        Status,
      </if>
      <if test="record.changeAmount != null and record.changeAmount != ''">
        ChangeAmount,
      </if>
      <if test="record.amount != null and record.amount != ''">
        Amount,
      </if>
      <if test="record.createTime != null and record.createTime != ''">
        CreateTime,
      </if>
      <if test="record.userID != null and record.userID != ''">
        UserID,
      </if>
      <if test="record.remark != null and record.remark != ''">
        Remark,
      </if>
      <if test="record.bankCard != null and record.bankCard != ''">
        BankCard,
      </if>
      <if test="record.bankCode != null and record.bankCode != ''">
        BankCode,
      </if>
      <if test="record.productId != null and record.productId != ''">
        ProductId,
      </if>
      <if test="record.purchaseRecordId != null and record.purchaseRecordId != ''">
        PurchaseRecordId,
      </if>
      <if test="record.dataSource != null and record.dataSource != ''">
        data_source,
      </if>
      <if test="record.dataStatus != null and record.dataStatus != ''">
        data_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="record.transactionID != null and record.transactionID != ''">
        #{record.transactionID,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null and record.type != ''">
        #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null and record.status != ''">
        #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.changeAmount != null and record.changeAmount != ''">
        #{record.changeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null and record.amount != ''">
        #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null and record.createTime != ''">
        #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userID != null and record.userID != ''">
        #{record.userID,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null and record.remark != ''">
        #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCard != null and record.bankCard != ''">
        #{record.bankCard,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCode != null and record.bankCode != ''">
        #{record.bankCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null and record.productId != ''">
        #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseRecordId != null and record.purchaseRecordId != ''">
        #{record.purchaseRecordId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSource != null and record.dataSource != ''">
        #{record.dataSource,jdbcType=SMALLINT},
      </if>
      <if test="record.dataStatus != null and record.dataStatus != ''">
        #{record.dataStatus,jdbcType=BIT},
      </if>
    </trim>
  </sql>
  <sql id="Base_Update_Column_List">
    update amountchangerecord
    <set>
      <if test="record.transactionID != null and record.transactionID != ''">
        TransactionID = #{record.transactionID,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null and record.type != ''">
        Type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null and record.status != ''">
        Status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.changeAmount != null and record.changeAmount != ''">
        ChangeAmount = #{record.changeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null and record.amount != ''">
        Amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null and record.createTime != ''">
        CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userID != null and record.userID != ''">
        UserID = #{record.userID,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null and record.remark != ''">
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCard != null and record.bankCard != ''">
        BankCard = #{record.bankCard,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCode != null and record.bankCode != ''">
        BankCode = #{record.bankCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null and record.productId != ''">
        ProductId = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseRecordId != null and record.purchaseRecordId != ''">
        PurchaseRecordId = #{record.purchaseRecordId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSource != null and record.dataSource != ''">
        data_source = #{record.dataSource,jdbcType=SMALLINT},
      </if>
      <if test="record.dataStatus != null and record.dataStatus != ''">
        data_status = #{record.dataStatus,jdbcType=BIT},
      </if>
    </set>
  </sql>
  <insert id="insert" parameterType="com.huilian.hyf.order.model.AmountChangeRecordEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    <include refid="Base_Insert_Column_List" />
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    <foreach collection="list" index="index" item="record" open="" separator="separator">
      <include refid="Base_Insert_Column_List" />
    </foreach>
  </insert>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from amountchangerecord
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huilian.hyf.order.model.Example">
    delete from amountchangerecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="_parameter == null">
        where 1=2 
    </if>
  </delete>
  <delete id="deleteByTransactionID" parameterType="java.lang.Long">
    delete from amountchangerecord
    where TransactionID = #{transactionID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByType" parameterType="java.lang.Long">
    delete from amountchangerecord
    where Type = #{type,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByStatus" parameterType="java.lang.Long">
    delete from amountchangerecord
    where Status = #{status,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByUserID" parameterType="java.lang.Long">
    delete from amountchangerecord
    where UserID = #{userID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByProductId" parameterType="java.lang.Long">
    delete from amountchangerecord
    where ProductId = #{productId,jdbcType=VARCHAR}
  </delete>
  <update id="updateById" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByExample" parameterType="map">
    <include refid="Base_Update_Column_List" />
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="_parameter == null">
        where 1=2 
    </if>
  </update>
  <update id="updateBySelective" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where ID = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateBatchBySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="record" open="" separator="separator">
      <include refid="Base_Update_Column_List" />
      where ID = #{record.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateByTransactionID" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where TransactionID = #{transactionID,jdbcType=VARCHAR}
  </update>
  <update id="updateByType" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where Type = #{type,jdbcType=VARCHAR}
  </update>
  <update id="updateByStatus" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where Status = #{status,jdbcType=VARCHAR}
  </update>
  <update id="updateByUserID" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where UserID = #{userID,jdbcType=VARCHAR}
  </update>
  <update id="updateByProductId" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where ProductId = #{productId,jdbcType=VARCHAR}
  </update>
  <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from amountchangerecord
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByExample" parameterType="com.huilian.hyf.order.model.Example" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from amountchangerecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <include refid="Example_OrderBy_Clause" />
    <include refid="Example_Pagin_Clause" />
  </select>
  <select id="selectByTransactionID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from amountchangerecord
    where TransactionID = #{transactionID,jdbcType=VARCHAR}
  </select>
  <select id="selectByType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from amountchangerecord
    where Type = #{type,jdbcType=VARCHAR}
  </select>
  <select id="selectByStatus" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from amountchangerecord
    where Status = #{status,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from amountchangerecord
    where UserID = #{userID,jdbcType=VARCHAR}
  </select>
  <select id="selectByProductId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from amountchangerecord
    where ProductId = #{productId,jdbcType=VARCHAR}
  </select>
  <select id="countByExample" parameterType="com.huilian.hyf.order.model.Example" resultType="java.lang.Long">
    select count(*) from amountchangerecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="vDeleteByExample" parameterType="com.huilian.hyf.order.model.Example">
    update amountchangerecord set data_status=1 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="_parameter == null">
        where 1=2 
    </if>
  </update>
  <update id="vDeleteById" parameterType="java.lang.Long">
    update amountchangerecord set data_status=1 
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="vDeleteByTransactionID" parameterType="java.lang.Long">
    update amountchangerecord set data_status=1 
    where TransactionID = #{transactionID,jdbcType=VARCHAR}
  </update>
  <update id="vDeleteByType" parameterType="java.lang.Long">
    update amountchangerecord set data_status=1 
    where Type = #{type,jdbcType=VARCHAR}
  </update>
  <update id="vDeleteByStatus" parameterType="java.lang.Long">
    update amountchangerecord set data_status=1 
    where Status = #{status,jdbcType=VARCHAR}
  </update>
  <update id="vDeleteByUserID" parameterType="java.lang.Long">
    update amountchangerecord set data_status=1 
    where UserID = #{userID,jdbcType=VARCHAR}
  </update>
  <update id="vDeleteByProductId" parameterType="java.lang.Long">
    update amountchangerecord set data_status=1 
    where ProductId = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>