<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huilian.dao.UserProfileDAO">
  <resultMap id="BaseResultMap" type="com.huilian.model.UserProfile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="UserID" jdbcType="VARCHAR" property="userid" />
    <result column="PhoneNum" jdbcType="VARCHAR" property="phonenum" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="OnlineStatus" jdbcType="VARCHAR" property="onlinestatus" />
    <result column="OnlineStatusUpdate" jdbcType="TIMESTAMP" property="onlinestatusupdate" />
    <result column="RegDate" jdbcType="TIMESTAMP" property="regdate" />
    <result column="Amount" jdbcType="DECIMAL" property="amount" />
    <result column="FrozenAmount" jdbcType="DECIMAL" property="frozenamount" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="hlc_id" jdbcType="BIGINT" property="hlcId" />
    <result column="data_source" jdbcType="SMALLINT" property="dataSource" />
    <result column="Source" jdbcType="VARCHAR" property="source" />
    <result column="referee" jdbcType="VARCHAR" property="referee" />
    <result column="usrChannel" jdbcType="VARCHAR" property="usrchannel" />
    <result column="qqOpenId" jdbcType="VARCHAR" property="qqopenid" />
    <result column="beCTime" jdbcType="TIMESTAMP" property="bectime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="userTag" jdbcType="VARCHAR" property="usertag" />
    <result column="contactway" jdbcType="VARCHAR" property="contactway" />
    <result column="sfOpenId" jdbcType="VARCHAR" property="sfopenid" />
    <result column="sfChannelNo" jdbcType="VARCHAR" property="sfchannelno" />
    <result column="LastLoginTime" jdbcType="TIMESTAMP" property="lastlogintime" />
    <result column="pwdModifyDelay" jdbcType="INTEGER" property="pwdmodifydelay" />
    <result column="pwdModifyTime" jdbcType="TIMESTAMP" property="pwdmodifytime" />
    <result column="dealpwd" jdbcType="VARCHAR" property="dealpwd" />
    <result column="bigdataSource" jdbcType="VARCHAR" property="bigdatasource" />
    <result column="bigdataSourceTime" jdbcType="VARCHAR" property="bigdatasourcetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Example_OrderBy_Clause">
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </sql>
  <sql id="Example_Pagin_Clause">
    <if test="example.paginLimit != null">
      <if test="model.paginOffset != null">
        limit ${model.paginOffset}, ${model.paginLimit}
      </if>
      <if test="model.paginOffset == null">
        limit ${model.paginLimit}
      </if>
    </if>
  </sql>
  <sql id="Base_Column_List">
    id, UserID, PhoneNum, Password, Status, OnlineStatus, OnlineStatusUpdate, RegDate, 
    Amount, FrozenAmount, Remark, hlc_id, data_source, Source, referee, usrChannel, qqOpenId, 
    beCTime, updateTime, userTag, contactway, sfOpenId, sfChannelNo, LastLoginTime, pwdModifyDelay, 
    pwdModifyTime, dealpwd, bigdataSource, bigdataSourceTime
  </sql>
  <sql id="Base_Insert_Column_List">
    insert into userprofile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null and record.userid != ''">
        UserID,
      </if>
      <if test="phonenum != null and record.phonenum != ''">
        PhoneNum,
      </if>
      <if test="password != null and record.password != ''">
        Password,
      </if>
      <if test="status != null and record.status != ''">
        Status,
      </if>
      <if test="onlinestatus != null and record.onlinestatus != ''">
        OnlineStatus,
      </if>
      <if test="onlinestatusupdate != null and record.onlinestatusupdate != ''">
        OnlineStatusUpdate,
      </if>
      <if test="regdate != null and record.regdate != ''">
        RegDate,
      </if>
      <if test="amount != null and record.amount != ''">
        Amount,
      </if>
      <if test="frozenamount != null and record.frozenamount != ''">
        FrozenAmount,
      </if>
      <if test="remark != null and record.remark != ''">
        Remark,
      </if>
      <if test="hlcId != null and record.hlcId != ''">
        hlc_id,
      </if>
      <if test="dataSource != null and record.dataSource != ''">
        data_source,
      </if>
      <if test="source != null and record.source != ''">
        Source,
      </if>
      <if test="referee != null and record.referee != ''">
        referee,
      </if>
      <if test="usrchannel != null and record.usrchannel != ''">
        usrChannel,
      </if>
      <if test="qqopenid != null and record.qqopenid != ''">
        qqOpenId,
      </if>
      <if test="bectime != null and record.bectime != ''">
        beCTime,
      </if>
      <if test="updatetime != null and record.updatetime != ''">
        updateTime,
      </if>
      <if test="usertag != null and record.usertag != ''">
        userTag,
      </if>
      <if test="contactway != null and record.contactway != ''">
        contactway,
      </if>
      <if test="sfopenid != null and record.sfopenid != ''">
        sfOpenId,
      </if>
      <if test="sfchannelno != null and record.sfchannelno != ''">
        sfChannelNo,
      </if>
      <if test="lastlogintime != null and record.lastlogintime != ''">
        LastLoginTime,
      </if>
      <if test="pwdmodifydelay != null and record.pwdmodifydelay != ''">
        pwdModifyDelay,
      </if>
      <if test="pwdmodifytime != null and record.pwdmodifytime != ''">
        pwdModifyTime,
      </if>
      <if test="dealpwd != null and record.dealpwd != ''">
        dealpwd,
      </if>
      <if test="bigdatasource != null and record.bigdatasource != ''">
        bigdataSource,
      </if>
      <if test="bigdatasourcetime != null and record.bigdatasourcetime != ''">
        bigdataSourceTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null and record.userid != ''">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null and record.phonenum != ''">
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="password != null and record.password != ''">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null and record.status != ''">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="onlinestatus != null and record.onlinestatus != ''">
        #{onlinestatus,jdbcType=VARCHAR},
      </if>
      <if test="onlinestatusupdate != null and record.onlinestatusupdate != ''">
        #{onlinestatusupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="regdate != null and record.regdate != ''">
        #{regdate,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null and record.amount != ''">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="frozenamount != null and record.frozenamount != ''">
        #{frozenamount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null and record.remark != ''">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="hlcId != null and record.hlcId != ''">
        #{hlcId,jdbcType=BIGINT},
      </if>
      <if test="dataSource != null and record.dataSource != ''">
        #{dataSource,jdbcType=SMALLINT},
      </if>
      <if test="source != null and record.source != ''">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="referee != null and record.referee != ''">
        #{referee,jdbcType=VARCHAR},
      </if>
      <if test="usrchannel != null and record.usrchannel != ''">
        #{usrchannel,jdbcType=VARCHAR},
      </if>
      <if test="qqopenid != null and record.qqopenid != ''">
        #{qqopenid,jdbcType=VARCHAR},
      </if>
      <if test="bectime != null and record.bectime != ''">
        #{bectime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null and record.updatetime != ''">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="usertag != null and record.usertag != ''">
        #{usertag,jdbcType=VARCHAR},
      </if>
      <if test="contactway != null and record.contactway != ''">
        #{contactway,jdbcType=VARCHAR},
      </if>
      <if test="sfopenid != null and record.sfopenid != ''">
        #{sfopenid,jdbcType=VARCHAR},
      </if>
      <if test="sfchannelno != null and record.sfchannelno != ''">
        #{sfchannelno,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null and record.lastlogintime != ''">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="pwdmodifydelay != null and record.pwdmodifydelay != ''">
        #{pwdmodifydelay,jdbcType=INTEGER},
      </if>
      <if test="pwdmodifytime != null and record.pwdmodifytime != ''">
        #{pwdmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealpwd != null and record.dealpwd != ''">
        #{dealpwd,jdbcType=VARCHAR},
      </if>
      <if test="bigdatasource != null and record.bigdatasource != ''">
        #{bigdatasource,jdbcType=VARCHAR},
      </if>
      <if test="bigdatasourcetime != null and record.bigdatasourcetime != ''">
        #{bigdatasourcetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </sql>
  <sql id="Base_Update_Column_List">
    update userprofile
    <set>
      <if test="record.userid != null and record.userid != ''">
        UserID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenum != null and record.phonenum != ''">
        PhoneNum = #{record.phonenum,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null and record.password != ''">
        Password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null and record.status != ''">
        Status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.onlinestatus != null and record.onlinestatus != ''">
        OnlineStatus = #{record.onlinestatus,jdbcType=VARCHAR},
      </if>
      <if test="record.onlinestatusupdate != null and record.onlinestatusupdate != ''">
        OnlineStatusUpdate = #{record.onlinestatusupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regdate != null and record.regdate != ''">
        RegDate = #{record.regdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.amount != null and record.amount != ''">
        Amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.frozenamount != null and record.frozenamount != ''">
        FrozenAmount = #{record.frozenamount,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null and record.remark != ''">
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.hlcId != null and record.hlcId != ''">
        hlc_id = #{record.hlcId,jdbcType=BIGINT},
      </if>
      <if test="record.dataSource != null and record.dataSource != ''">
        data_source = #{record.dataSource,jdbcType=SMALLINT},
      </if>
      <if test="record.source != null and record.source != ''">
        Source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.referee != null and record.referee != ''">
        referee = #{record.referee,jdbcType=VARCHAR},
      </if>
      <if test="record.usrchannel != null and record.usrchannel != ''">
        usrChannel = #{record.usrchannel,jdbcType=VARCHAR},
      </if>
      <if test="record.qqopenid != null and record.qqopenid != ''">
        qqOpenId = #{record.qqopenid,jdbcType=VARCHAR},
      </if>
      <if test="record.bectime != null and record.bectime != ''">
        beCTime = #{record.bectime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null and record.updatetime != ''">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usertag != null and record.usertag != ''">
        userTag = #{record.usertag,jdbcType=VARCHAR},
      </if>
      <if test="record.contactway != null and record.contactway != ''">
        contactway = #{record.contactway,jdbcType=VARCHAR},
      </if>
      <if test="record.sfopenid != null and record.sfopenid != ''">
        sfOpenId = #{record.sfopenid,jdbcType=VARCHAR},
      </if>
      <if test="record.sfchannelno != null and record.sfchannelno != ''">
        sfChannelNo = #{record.sfchannelno,jdbcType=VARCHAR},
      </if>
      <if test="record.lastlogintime != null and record.lastlogintime != ''">
        LastLoginTime = #{record.lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pwdmodifydelay != null and record.pwdmodifydelay != ''">
        pwdModifyDelay = #{record.pwdmodifydelay,jdbcType=INTEGER},
      </if>
      <if test="record.pwdmodifytime != null and record.pwdmodifytime != ''">
        pwdModifyTime = #{record.pwdmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dealpwd != null and record.dealpwd != ''">
        dealpwd = #{record.dealpwd,jdbcType=VARCHAR},
      </if>
      <if test="record.bigdatasource != null and record.bigdatasource != ''">
        bigdataSource = #{record.bigdatasource,jdbcType=VARCHAR},
      </if>
      <if test="record.bigdatasourcetime != null and record.bigdatasourcetime != ''">
        bigdataSourceTime = #{record.bigdatasourcetime,jdbcType=VARCHAR},
      </if>
    </set>
  </sql>
  <insert id="insert" parameterType="com.huilian.model.UserProfile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    <include refid="Base_Update_Column_List" />
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    <foreach collection="list" index="index" item="record" open="" separator="separator">
      <include refid="Base_Insert_Column_List" />
    </foreach>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from userprofile
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huilian.model.UserProfileExample">
    delete from userprofile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="_parameter == null">
        where 1=2 
    </if>
  </delete>
  <delete id="deleteeByPhonenum" parameterType="java.lang.Long">
    delete from userprofile
    where PhoneNum = #{phonenum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteeByUsrchannel" parameterType="java.lang.Long">
    delete from userprofile
    where usrChannel = #{usrchannel,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteeById" parameterType="java.lang.Long">
    delete from userprofile
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteeBySfopenid" parameterType="java.lang.Long">
    delete from userprofile
    where sfOpenId = #{sfopenid,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKey" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByExample" parameterType="map">
    <include refid="Base_Update_Column_List" />
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="_parameter == null">
        where 1=2 
    </if>
  </update>
  <update id="updateBySelective" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateBatchBySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="record" open="" separator="separator">
      <include refid="Base_Update_Column_List" />
      where id = #{record.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateByUseridAndPhonenum" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where UserID = #{userid,jdbcType=VARCHAR}
      and PhoneNum = #{phonenum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPhonenum" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where PhoneNum = #{phonenum,jdbcType=VARCHAR}
  </update>
  <update id="updateByUsrchannel" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where usrChannel = #{usrchannel,jdbcType=VARCHAR}
  </update>
  <update id="updateById" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBySfopenid" parameterType="map">
    <include refid="Base_Update_Column_List" />
    where sfOpenId = #{sfopenid,jdbcType=VARCHAR}
  </update>
  <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userprofile
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByExample" parameterType="com.huilian.model.UserProfileExample" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userprofile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <include refid="Example_OrderBy_Clause" />
    <include refid="Example_Pagin_Clause" />
  </select>
  <select id="selectByPhonenum" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userprofile
    where PhoneNum = #{phonenum,jdbcType=VARCHAR}
  </select>
  <select id="selectByUsrchannel" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userprofile
    where usrChannel = #{usrchannel,jdbcType=VARCHAR}
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userprofile
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectBySfopenid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userprofile
    where sfOpenId = #{sfopenid,jdbcType=VARCHAR}
  </select>
  <select id="countByExample" parameterType="com.huilian.model.UserProfileExample" resultType="java.lang.Long">
    select count(*) from userprofile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="virtualDeleteByExample" parameterType="com.huilian.model.UserProfileExample">
    update userprofile set data_status=1 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="_parameter == null">
        where 1=2 
    </if>
  </update>
  <update id="virtualDeleteByPrimaryKey" parameterType="java.lang.Long">
    update userprofile set data_status=1 
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="virtualDeleteByPhonenum" parameterType="java.lang.Long">
    update userprofile set data_status=1 
    where PhoneNum = #{phonenum,jdbcType=VARCHAR}
  </update>
  <update id="virtualDeleteByUsrchannel" parameterType="java.lang.Long">
    update userprofile set data_status=1 
    where usrChannel = #{usrchannel,jdbcType=VARCHAR}
  </update>
  <update id="virtualDeleteById" parameterType="java.lang.Long">
    update userprofile set data_status=1 
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="virtualDeleteBySfopenid" parameterType="java.lang.Long">
    update userprofile set data_status=1 
    where sfOpenId = #{sfopenid,jdbcType=VARCHAR}
  </update>
</mapper>